body, html {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center; /* Centers both vertically and horizontally */
    background-color: hsl(0, 0%, 8%);
    font-family: Inter;
  }

.main {
    background-color: hsl(0, 0%, 12%) ;
    color: white;
    margin: auto;
    min-width: 25%;
    min-height:500px;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Centering items horizontally */
    align-items: center;    /* Centering items vertically */
    flex-direction: column;

}

img {
    border-radius: 100px;
    height: 25%;
    width: 25%;

}

@font-face {
    font-family:Inter;
    src: url(https://fonts.google.com/specimen/Inter);
  }

h1 {
font-size: 25px;
font-family:Inter;


}

h2 {
   color: hsl(75, 94%, 57%);
   font-size:25px;
}


.links-list {
    border: 2px solid red;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}



button {
    display:block;
    width: 75%;

}


p {
    color: hsl(0, 0%, 20%);
    font-size: 14px;
}
