body {
    background-color: hsl(0, 0%, 8%);

}

.main {
    background-color: hsl(0, 0%, 12%) ;
    color: white;
    margin: auto;
    width: 25%;
    border-radius: 10px;
}

h2 {
   color: hsl(75, 94%, 57%);
}

ul {
    text-align: center;
}

li {
    background-color: hsl(0, 0%, 20%) ;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
